:root {
    --body-bg: #1A1A1D;
    --text-clr: #ffffff;
    --main-bg: #17153B;
    --finish-task: #008000;
    --finish-task-bg: #A0C878;
    --task-input-bg: #cccccc;
    --btn-bg: #7A1CAC;
    --btn-bg-hover: #AD49E1;
}