:root {
  /* --main-bg: #adb2d4;
  --finish-task: #008000;
  --finish-task-bg: #a0c878;
  --task-input-bg: #cccccc;
  --btn-bg: #eef1da;
  --btn-light-clr: #000000;
  --btn-bg-hover: #c7d9dd; */

  --main-bg: #f0f8ff; /* Light, airy background (AliceBlue) */
  --finish-task: #228b22; /* ForestGreen, still positive, but softer */
  --finish-task-bg: #e0f8e0; /* Very light green, subtle success indication */
  --task-input-bg: #f5f5f5; /* Light grey, almost white, for input fields */
  --btn-bg: #f8f8ff; /* GhostWhite, clean and light for buttons */
  --add-btn-bg-clr: var(--btn-bg-hover);
  --btn-light-clr: #333333; /* Dark grey, good contrast on light backgrounds */
  --btn-bg-hover: #e6e6fa; /* Lavender, provides a gentle hover effect */
}

html,
body {
  background-color: var(--body-bg);
}

h1 {
  color: var(--text-clr);
}

main {
  background-color: var(--main-bg);
}

input[data-finish="true"] {
  text-decoration: line-through var(--finish-task);
  background-color: var(--finish-task-bg);
}

input[type="text"] {
  border: 1px solid var(--task-input-bg);
}

input[type="button"] {
  background-color: var(--btn-bg);
}
