:root {
    --main-bg: #adb2d4;
    --finish-task: #008000;
    --finish-task-bg: #A0C878;
    --task-input-bg: #cccccc;
    --btn-bg: #eef1da;
    --btn-light-clr: #000000;
    --btn-bg-hover: #c7d9dd;
}